$colorOne : #36393D;
$colorTwo : #CC0000;
$colorThree : #FF7400;
$colorFour : #006E2E;
$colorFive : #4096EE;
$colorSix : #B02B2C;
$colorSeven : #3F4C6B;
$colorEight : #356AA0;
$colorNine : #D01F3C;
$colorTen : #6BBA70;
$colorEleven : #73880A;
$colorTwelve : #C79810;
$colorThirteen : #D15600;

 .color-one{
	background-color:$colorOne
 }
 .color-two{
	background-color:$colorTwo
 }
 .color-three{
	background-color:$colorThree
 }
 .color-four{
	background-color:$colorFour
 }
 .color-five{
	background-color:$colorFive
 }
 .color-six{
	background-color:$colorSix	
 }
 .color-seven{
	background-color:$colorSeven	
 }
 .color-eight{
	background-color:$colorEight	
 }
 .color-nine{
	background-color:$colorNine	
 }
 .color-ten{
	background-color:$colorTen	
 }
 .color-eleven{
	background-color:$colorEleven	
 }
 .color-twelve{
	background-color:$colorTwelve
 }
 .color-thirteen{
	background-color:$colorThirteen
 }